.modalBackground{
    width: 100vw;
    height: 100vh;
    background-color: rgba(200,200,200);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

}

.modalContainer{
    
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}
.forgot{
    width: 500px;
    height: 400px;
}
.create{
    width: 500px;
    height: 550px;
}


.modalContainer .title{
    display:inline-block;
    text-align: center;
    
    font-size: 1.7rem;
}

.titleCloseBtn{
    display: flex;
    justify-content: flex-end;
}

.titleCloseBtn button{
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;

}

.modalContainer .body{
    flex:20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-align: center;
}

.modalContainer .footer{
    flex:20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
